<div class="pagination pagination--nav" data-skip-search-index>
    {% if has_before? %}
    <a href="{{ before.url }}" class="left">
        <div class="block">
            <div class="cont">
                <div class="cont-desc">Previous</div>
                <div class="cont-tit">{{ before.page.title }}</div>
                {% comment %}<div class="small">{{ before.page.description }}</div>{% endcomment %}
            </div>
        </div>
    </a>
    {% endif %}
    {% if has_after? %}
    <a href="{{ after.url }}" class="right">
        <div class="block">
            <div class="cont">
                <div class="cont-desc">Next</div>
                <div class="cont-tit">{{ after.page.title }}</div>
                {% comment %}<div class="small">{{ after.page.description }}</div>{% endcomment %}
            </div>
        </div>
    </a>
    {% endif %}
</div>
